adium-theme-ubuntu==0.3.4
dnspython==1.12.0
gunicorn==19.8.1
PAM==0.4.2
pexpect==4.0.1
Pillow==3.1.2
ptyprocess==0.5
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.20.0
pyinotify==0.9.6
python-apt==1.1.0b1+ubuntu0.16.4.1
scour==0.32
six==1.10.0
unity-lens-photos==1.0
virtualenv==15.2.0
youtube-dl==2018.4.3
