{% extends "layout.html" %}

{% block content %}

<style type="text/css">
    ul.checkbox {
        padding-left: 22px;
    }
    div.checkbox{
        padding-left: 2px;
    }
</style>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-users fa-fw"></i> {% if user is none %}Lisää käyttäjä{% else %}Muokkaa käyttäjää <span style="color: rgb(210, 210, 210);"> (# {{ user.id }})</span>{% endif %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form method="POST" action="{{ url_for('user') if (user is none) else url_for('user', id=user.id) }}">
            {% if user is none %}
                <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                    {{ form.username.label(class_="control-label", disabled_=True) }}
                    {{ form.username(class_="form-control") }}
                </div>
                <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                    {{ form.password.label(class_="control-label") }}
                    {{ form.password(class_="form-control") }}
                </div>
                <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                    {{ form.confirm.label(class_="control-label") }}
                    {{ form.confirm(class_="form-control") }}
                </div>
            {% else %}
                {{ form.id() }}
                <div class="form-group">
                    <label class_="control-label">Sähköposti</label>
                    <input class="form-control" disabled="disabled" value="{{ user.username }}" />
                </div>
            {% endif %}
                <div class="form-group{% if form.firstname.errors %} has-error{% endif %}">
                    {{ form.firstname.label(class_="control-label") }}
                    {{ form.firstname(class_="form-control") }}
                </div>
                <div class="form-group{% if form.lastname.errors %} has-error{% endif %}">
                    {{ form.lastname.label(class_="control-label") }}
                    {{ form.lastname(class_="form-control") }}
                </div>
                <div class="form-group{% if form.company_id.errors %} has-error{% endif %}">
                    {{ form.company_id.label(class_="control-label") }}
                    {{ form.company_id(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.userroles.label(class_="control-label") }}
                    {{ form.userroles(class_="checkbox") }}
                </div>
                <div class="form-group">
                    <label>{{ form.active.label(class_="control-label") }}</label>
                    <div class="checkbox">
                        <label>
                            {{ form.active() }}{{ form.active.label(class_="control-label") }}
                        </label>
                    </div>
                </div>
                <div class="form-group input-group">
                    <label>Luotu</label>&nbsp;
                    <span class="form-control-static">{% if not user is none %}{{user.date_created}}{% endif %}</span>
                </div>
                <div class="form-group input-group">
                    <label>Muokattu</label>&nbsp;
                    <span class="form-control-static">{% if not user is none %}{{user.date_modified}}{% endif %}</span>
                </div>
            {% if form.errors %}
                <div class="alert alert-danger">
                    Tarkista tiedot, lomakkeella havaittiin seuraavat virheet:
                    <ul>
                        {% for field in form.errors %}
                        <li>{{ ", ".join(form.errors[field]) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% with messages = get_flashed_messages(category_filter=["user"]) %}
            {% if messages %}
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
                <button type="submit" value="submit" class="btn btn-default">Tallenna</button>
                {% if not user is none and current_user.is_admin() %}
                    <a href="#" name="btn-delete" data-href="{{ url_for('user_delete', id=user.id) }}" data-user-id="{{user.id}}" data-user-name="{{user.firstname}} {{user.lastname}}" class="btn btn-default">Poista</a>
                {% endif %}
                <a href="{{ url_for('userlist') }}" class="btn btn-default">Peruuta</a>
                <div>{{error}}</div>
            </form>
            <br />
        </div>
        <div class="col-lg-6"></div>

    </div>

<script type="text/javascript">
    $("a[name='btn-delete']").click(function(){
        var id = $(this).attr("data-user-id");
        var name = $(this).attr("data-user-name");
        if(confirm("Haluatko varmasti poistaa käyttäjän '" + name + "' (id: " + id + ")?")){
            var href = $(this).attr("data-href");
            $(this).attr("href", href);
        }
        else{
            return false;
        }
    });
</script>

{% endblock %}