{% extends "layout.html" %}

{% block content %}



    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-home fa-fw"></i> Etusivu</h1>
        </div>
    </div>

<!-- Latest report -->

    <div class="row">

    {% if not latestreport is none %}

        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="xlarge">{{ latestreport.name }}</div>
                            <div class="medium">Valmistunut {{ latestreport.date_crawled.strftime("%Y-%m-%d") }}</div>
                            <div class="medium">Avainsanamainintoja {{ latestreport.count }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('report', id=latestreport.id)}}">
                    <div class="panel-footer">
                        <span class="pull-left">Katso tiedot</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    {% endif %}

    </div>

{% endblock %}