{% extends "layout.html" %}

{% block content %}

<style type="text/css">
    .xlarge {
        font-size: 26px;
    }
    .medium {
        font-size: 16px;
    }
</style>


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Kirjautuneen käyttäjän etusivu</h1>
        </div>
    </div>

<!-- Latest report -->

    <div class="row">

    {% if not latestreport is none %}

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="xlarge">{{ latestreport.name }}</div>
                            <div class="large">Valmistunut {{ latestreport.date_crawled.strftime("%Y-%m-%d") }}</div>
                            <div class="large">Avainsanamainintoja {{ latestreport.count }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('report', id=latestreport.id)}}">
                    <div class="panel-footer">
                        <span class="pull-left">Katso tiedot</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    {% endif %}

    </div>

{% endblock %}