{% extends "layout_root.html" %}

{% block wrapper %}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

            <span class="navbar-header">
                <a href="/edit" class="navbar-brand">Tietokantasovellus: Harjoitustyö 2018</a>
            </span>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                {% if current_user.is_admin() %}
                <li>
                    <a href="/admin"><i class="fa fa-wrench fa-fw"></i> Ylläpito</a>
                </li>
                {% endif %}
                <li>
                    <a href="/edit/profile"><i class="fa fa-user fa-fw"></i> Omat tiedot</a>
                </li>
                <li>
                    <a href="/auth/logout"><i class="fa fa-sign-out fa-fw"></i> Kirjaudu ulos</a>
                </li>
            </ul>
            <span style="padding: 15px; margin-right: 15px" class="navbar-right">{{current_user.firstname}} {{current_user.lastname}}, {{current_user.get_company().name}} (is_admin: {{current_user.is_admin()}})</span>

            {% block nav %}

            {% endblock %}
        </nav>

        <div id="page-wrapper">
            {% block content %}

            {% endblock %}
        </div>

    </div>

{% endblock %}