{% extends "layout_root.html" %}

{% block wrapper %}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

            <span class="navbar-header">
                <a href="/edit" class="navbar-brand">Tietokantasovellus: Harjoitustyö 2018</a>
            </span>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="/profile"><i class="fa fa-user fa-fw"></i> Omat tiedot</a>
                </li>
                <li>
                    <a href="/auth/logout"><i class="fa fa-sign-out fa-fw"></i> Kirjaudu ulos</a>
                </li>
            </ul>
            <span style="padding: 15px; margin-right: 15px" class="navbar-right">{{current_user.firstname}} {{current_user.lastname}}, {{current_user.get_company().name}} (is_admin: {{current_user.is_admin()}})</span>

            <div class="navbar-default sidebar" role="navigation">

                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="{{ url_for('home') }}"><i class="fa fa-home fa-fw"></i> Etusivu</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Raportit<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Raportti 1</a>
                                </li>
                                <li>
                                    <a href="#">Raportti 2</a>
                                </li>
                            </ul>
                        </li>
                    {% if current_user.is_admin() %}
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Ylläpito<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ url_for('userlist') }}"><i class="fa fa-users fa-fw"></i> Käyttäjät</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('listanalysis') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Analyysit</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>

        </nav>

        <div id="page-wrapper">
            {% block content %}

            {% endblock %}
        </div>

    </div>

{% endblock %}