{% extends "layout_admin.html" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Käyttäjät</h1>
        </div>
    </div>
    <div class="row">


        <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;" width="100%">
            <thead>
                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 20px;">Id</th>
                    <th rowspan="1" colspan="1" style="width: 180px;">Käyttäjätunnus</th>
                    <th rowspan="1" colspan="1" style="width: 180px;">Etunimi</th>
                    <th rowspan="1" colspan="1" style="width: 260px;">Sukunimi</th>
                    <th rowspan="1" colspan="1" style="width: 260px;">Yritys</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 180px;" >Luontipvm</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 180px;" >Muokkauspvm</th>
                    <th tabindex="0" rowspan="1" colspan="1">Toiminnot</th>
                </tr>
            </thead>
            <tbody>
        {% for user in users %}
            <tr class="gradeA odd" role="row">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.get_company().name}}</td>
                <td>{{user.date_created}}</td>
                <td>{{user.date_modified}}</td>
                <td><a href="/admin/user/{{user.id}}" class="btn btn-default">Muokkaa</a>&nbsp;
                    <a href="#" name="btn-delete" data-user-id="{{user.id}}" data-user-name="{{user.firstname}} {{user.lastname}}" class="btn btn-default">Poista</a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <br />
        <a href="/admin/user/add" class="btn btn-default">Lisää uusi käyttäjä</a>
    </div>

<script type="text/javascript">
    $("a[name='btn-delete']").click(function(){
        var id = $(this).attr("data-user-id");
        var name = $(this).attr("data-user-name");
        if(confirm("Haluatko varmasti poistaa käyttäjän '" + name + "' (id: " + id + ")?")){
            $(this).attr("href", "/admin/user/" + id + "/delete");
        }
        else{
            return false;
        }
    });
</script>

{% endblock %}