{% extends "layout_admin.html" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Käyttäjän tietojen muokkaus</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form action="/admin/user" method="post" name="user">
                <input type="hidden" name="id" value="{{user.id}}">
                <div class="form-group">
                    <label>Sähköposti:</label>
                    <input class="form-control" type="text" name="username" value="{{user.username}}" disabled="disabled">
                </div>
                <div class="form-group">
                    <label>Etunimi:</label>
                    <input class="form-control required" type="text" name="firstname" value="{{user.firstname}}">
                </div>
                <div class="form-group">
                    <label>Sukunimi:</label>
                    <input class="form-control" type="text" name="lastname" value="{{user.lastname}}">
                </div>
                <div class="form-group">
                    <label>Käyttäjäryhmät:</label>
                    <div class="checkbox">
                        <label>
                            <input value="user" type="checkbox" {% if userroles.get(3) %} checked="checked" {% endif %}>Käyttäjä
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input value="editor" type="checkbox" {% if userroles.get(2) %} checked="checked" {% endif %}>Ylläpitäjä
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input value="admin" type="checkbox" {% if (userroles.get(1)==1) %} checked="checked" {% endif %}>Pääylläpitäjä
                        </label>
                    </div>
                </div>
                <div class="form-group input-group">
                    <label>Luotu:</label>
                    <span class="form-control-static">{{user.date_created}}</span>
                </div>
                <div class="form-group input-group">
                    <label>Muokattu:</label>
                    <span class="form-control-static">{{user.date_modified}}</span>
                </div>
                <button type="submit" value="submit" class="btn btn-default">Tallenna</button>
                <a href="#" data-user-id="{{user.id}}" data-user-name="{{user.firstname}} {{user.lastname}}" class="btn btn-default">Poista</a>
                <a href="/admin/user" class="btn btn-default">Peruuta</a>
                <div>{{error}}</div>
            </form>
            <br />
        </div>
        <div class="col-lg-6"></div>

    </div>

<script type="text/javascript">
    $("a[name='btn-delete']").click(function(){
        var id = $(this).attr("data-user-id");
        var name = $(this).attr("data-user-name");
        if(confirm("Haluatko varmasti poistaa käyttäjän '" + name + "' (id: " + id + ")?")){
            $(this).attr("href", "/admin/user/" + id + "/delete");
        }
        else{
            return false;
        }
    });
</script>

{% endblock %}