{% extends "layout.html" %}

{% block content %}

<style type="text/css">
    ul.checkbox {
        padding-left: 22px;
    }
    div.checkbox{
        padding-left: 2px;
    }
</style>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="glyphicon glyphicon-equalizer"></i> {% if analysis.id is none %}Lisää analyysi{% else %} Muokkaa analyysiä <span style="color: rgb(210, 210, 210);"> (# {{ analysis.id }})</span>{% endif %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form method="POST" action="{{ url_for('analysis', id=analysis.id) }}">
                {{ form.id() }}
                <div class="form-group{% if form.companyid.errors %} has-error{% endif %}">
                    {{ form.companyid.label(class_="control-label") }}
                {% if analysis.locked %}
                    {{ form.companyid(class_="form-control", readonly="") }}
                {% else %}
                    {{ form.companyid(class_="form-control") }}
                {% endif %}
                </div>
                <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                    {{ form.name.label(class_="control-label") }}
                    {{ form.name(class_="form-control") }}
                </div>
                <div class="form-group{% if form.keywords.errors %} has-error{% endif %}">
                    {{ form.keywords.label(class_="control-label") }}
                {% if analysis.locked %}
                    {{ form.keywords(class_="form-control", readonly="") }}
                {% else %}
                    {{ form.keywords(class_="form-control") }}
                {% endif %}
                </div>
                <div class="form-group{% if form.ttargets.errors %} has-error{% endif %}">
                    {{ form.ttargets.label(class_="control-label") }}
                {% if analysis.locked %}
                    {{ form.ttargets(class_="form-control", rows="3", readonly="") }}
                {% else %}
                    {{ form.ttargets(class_="form-control", rows="3") }}
                {% endif %}
                </div>
                <div class="form-group">
                    {{ form.locked.label(class_="control-label") }}
                    <div class="checkbox">
                        <label>
                            {{ form.locked(class_="checkbox") }}{{ form.locked.label(class_="control-label") }}
                        </label>
                    </div>
                </div>
                <div class="form-group input-group">
                    <label>Ryömitty</label>&nbsp;
                    <span class="form-control-static">{% if not analysis is none %}{{analysis.date_crawled}}{% endif %}</span>
                </div>
                <div class="form-group input-group">
                    <label>Luotu</label>&nbsp;
                    <span class="form-control-static">{% if not analysis is none %}{{analysis.date_created}}{% endif %}</span>
                </div>
                <div class="form-group input-group">
                    <label>Muokattu</label>&nbsp;
                    <span class="form-control-static">{% if not analysis is none %}{{analysis.date_modified}}{% endif %}</span>
                </div>
            {% if form.errors %}
                <div class="alert alert-danger">
                    Tarkista tiedot, lomakkeella havaittiin seuraavat virheet:
                    <ul>
                        {% for field in form.errors %}
                        <li>{{ ", ".join(form.errors[field]) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% with messages = get_flashed_messages(category_filter=["analysis"]) %}
            {% if messages %}
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
                <button type="submit" value="submit" class="btn btn-default">Tallenna</button>
                {% if not analysis is none and not analysis.id is none %}
                    <a href="#" name="btn-delete" data-href="{{ url_for('deleteanalysis', id=analysis.id) }}" data-id="{{analysis.id}}" data-name="{{analysis.name}}" class="btn btn-default">Poista</a>
                {% endif %}
                <a href="{{ url_for('listanalysis') }}" class="btn btn-default">Peruuta</a>
                <div>{{error}}</div>
            </form>
            <br />
        </div>
        <div class="col-lg-6"></div>

    </div>

<script type="text/javascript">
    $("a[name='btn-delete']").click(function(){
        var id = $(this).attr("data-id");
        var name = $(this).attr("data-name");
        if(confirm("Haluatko varmasti poistaa analyysin '" + name + "' (id: " + id + ")?")){
            var href = $(this).attr("data-href");
            $(this).attr("href", href);
        }
        else{
            return false;
        }
    });
</script>

{% endblock %}