{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="glyphicon glyphicon-equalizer"></i>
                {% if not analysis.locked %} Tee raportti: {% else %} Katso raporttia: {% endif %}
                {{analysis.name}} <span style="color: rgb(210, 210, 210);"> (# {{ analysis.id }})</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <label class="col-sm-3">Yritys</label>
                        <div class="col-sm-9">{{analysis.company().name}}</div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Avainsanat</label>
                        <div class="col-sm-9">{{analysis.keywords}}</div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Kohteet</label>
                        <div class="col-sm-9">
                            {% for ttarget in analysis.ttargets() %}
                                {{ ttarget.url }}
                                {% if not loop.last %}
                                     <br />
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <br />
                {% if not analysis.locked %}
                    <form method="POST" action="{{ url_for('reportanalysis', id=analysis.id) }}">
                        {{ form.id() }}
                        <button type="submit" value="submit" class="btn btn-default">Käynnistä raporttiajo</button>
                        <a href="{{ url_for('listanalysis') }}" class="btn btn-default">Peruuta</a>
                    </form>
                {% else %}
                    <a href="{{ url_for('listanalysis') }}" class="btn btn-default">Takaisin</a>
                {% endif %}
            {% with messages = get_flashed_messages(category_filter=["analysis_error"]) %}
                {% if messages %}
                    <div style="margin-top: 15px; margin-bottom: 0" class="alert alert-error alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["analysis"]) %}
                {% if messages %}
                    <div style="margin-top: 15px; margin-bottom: 0" class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
                </div>
            </div>
            <br />
        </div>
    </div>
    <h2>Seurantakohteet:</h2>
    <div class="row">
        {% for ttarget in analysis.ttargets() %}
           <div class="panel panel-default">
            <div class="panel-heading">
                {{ ttarget.title }}
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-sm-3">Url</label>
                    <div class="col-sm-9"><a href="{{ ttarget.url }}">{{ ttarget.url }}</a></div>
                </div>
                <div class="row">
                    <label class="col-sm-3">Luotu</label>
                    <div class="col-sm-9">{{ ttarget.date_created }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-3">Kieli</label>
                    <div class="col-sm-9">{{ ttarget.language }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-3">Avainsanat</label>
                    <div class="col-sm-9">{{ analysis.keywords }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-3">Avainsanaosumat</label>
                    <div class="col-sm-9">
                        {% for keyword in ttarget.nltk_analysis().key_words %}
                            {{ keyword }} ({{ ttarget.nltk_analysis().key_words[ keyword ] }})
                            {% if not loop.last %} , {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row" id="nltkrow{{ ttarget.id }}">
                    <div class="col-sm-12">
                        <div><a href="#nltk{{ ttarget.id }}" data-toggle="collapse" data-parent="#nltkrow{{ ttarget.id }}" >Näytä yksityiskohtaiset tiedot</a></div>
                        <div id="nltk{{ ttarget.id }}" class="panel-collapse collapse nltk_analysis" data-result="{{ ttarget.nltk_analysis_json }}"></div>
                    </div>
                </div>
                <h3>Alikohteet:</h3>
                <div class="panel-group" id="accordion{{ ttarget.id }}">
            {% for subtarget in ttarget.ttargets() %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion{{ ttarget.id }}" href="#sub{{ subtarget.id }}">
                                    {{ subtarget.title }}
                                </a>
                            </h4>
                        </div>
                        <div id="sub{{ subtarget.id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <label class="col-sm-3">Url</label>
                                    <div class="col-sm-9"><a href="{{ subtarget.url }}">{{ subtarget.url }}</a></div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3">Luotu</label>
                                    <div class="col-sm-9">{{ subtarget.date_created }}</div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3">Kieli</label>
                                    <div class="col-sm-9">{{ subtarget.language }}</div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3">Avainsanaosumat</label>
                                    <div class="col-sm-9">
                                        {% for keyword in subtarget.nltk_analysis().key_words %}
                                            {{ keyword }} ({{ subtarget.nltk_analysis().key_words[ keyword ] }})
                                            {% if not loop.last %} , {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row" id="nltkrow{{ subtarget.id }}">
                                    <div class="col-sm-12">
                                        <div><a href="#nltk{{ subtarget.id }}" data-toggle="collapse" data-parent="#nltkrow{{ subtarget.id }}" >Näytä yksityiskohtaiset tiedot</a></div>
                                        <div id="nltk{{ subtarget.id }}" class="panel-collapse collapse nltk_analysis" data-result="{{ subtarget.nltk_analysis_json }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<script type="text/javascript">

    $(function(){
        $(".nltk_analysis").each(function() {
            var data = $(this).data("result");
            $(this).append($('<pre>').text(JSON.stringify(data, undefined, 2)));
        })
    });

</script>

{% endblock %}