  {% extends "layout.html" %}

  {% block body %}
  <p>
    Extracted article content
  </p>


  <table>
    <tr>
      <th>Cotent</th>
    </tr>
    <!-- Yritetään käydä tietorakenne nimeltä esineet läpi.
	 Jokaiselle esineelle luodaan oma rivi taulukkoon.
	 Jokaista taulukon solua luodessa oletetaan, että
	 esine on olio, ja että alkiolla on muuttuja name.
	 Muuttujan arvo asetetaan solun arvoksi. -->
    {% for paragraph in paragraph %}
    {% if not paragraph.is_boilerplate %}
    <tr>
      <td>{{ paragraph.text }}</td>
    </tr>
    {% endif %}
    {% endfor %}

  </table>

  {% endblock %}