{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Omien tietojen muokkaus</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form method="POST" action="{{ url_for('profile') }}">
                <div class="form-group">
                    <label>Sähköposti:</label>
                    <input class="form-control" type="text" name="username" value="{{user.username}}" disabled="disabled">
                </div>
                <div class="form-group">
                    {{ form.firstname.label(class_="control-label") }}
                    {{ form.firstname(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.lastname.label(class_="control-label") }}
                    {{ form.lastname(class_="form-control") }}
                </div>
                <div class="form-group input-group">
                    <label>Luotu:</label>
                    <span class="form-control-static">{{user.date_created}}</span>
                </div>
                <div class="form-group input-group">
                    <label>Muokattu:</label>
                    <span class="form-control-static">{{user.date_modified}}</span>
                </div>
            {% if form.errors %}
                <div class="alert alert-danger">
                    Tarkista tiedot, lomakkeella havaittiin seuraavat virheet:
                    <ul>
                        {% for field in form.errors %}
                        <li>{{ ", ".join(form.errors[field]) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% with messages = get_flashed_messages(category_filter=["profile_profile"]) %}
            {% if messages %}
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
                <button type="submit" value="submit" class="btn btn-default">Tallenna</button>
                <button name="cancel" type="submit" value="cancel" class="btn btn-default">Peruuta</button>
            </form>
            <h1 class="page-header">Salasanan vaihto</h1>
            <form action="{{ url_for('profile') }}" method="post" name="changepwd">
                <div class="form-group">
                    {{ cpform.password.label(class_="control-label") }}
                    {{ cpform.password(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ cpform.confirm.label(class_="control-label") }}
                    {{ cpform.confirm(class_="form-control") }}
                </div>
            {% if cpform.errors %}
                <div class="alert alert-danger">
                    Tarkista tiedot, lomakkeella havaittiin seuraavat virheet:
                    <ul>
                        {% for field in cpform.errors %}
                        <li>{{ ", ".join(cpform.errors[field]) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% with messages = get_flashed_messages(category_filter=["profile_password"]) %}
            {% if messages %}
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
                <button name="changepwd" type="submit" value="submit" class="btn btn-default">Tallenna</button>
                <button name="cancel" type="submit" value="cancel" class="btn btn-default">Peruuta</button>
            </form>
            <br/>
        </div>
        <div class="col-lg-6"></div>
    </div>

{% endblock %}